header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background-head);
}

@media (min-width: 600px) {
  header {
    height: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
  nav > ul {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
  }
}

#header-img {
  width: 100%;
  height: 2.5rem;
  border-radius: 3px;
  margin-left: 1rem;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--color-nav);
}

main {
  margin-top: 8rem;
  width: 100%;
  height: auto;
  text-align: center;
}

.form-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  padding-top: 2rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  width: 20rem;
  height: 2rem;
  margin: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  border-radius: 3px;
}
.submit {
  width: 10rem;
  background-color: var(--color-submit);
}

.service-content {
  margin: 2rem 1rem 0 1rem;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.service-grid__icon {
  display: none;
  font-size: 4rem;
  color: var(--color-icon);
}

@media (min-width: 600px) {
  main {
    margin-top: 3rem;
  }

  .content__title,
  .content__descripcion {
    text-align: start;
  }
  .service-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .service-grid__icon {
    display: block;
    font-size: 4rem;
    color: var(--color-icon);
  }
}

.block-services {
  margin-top: 2rem;
  width: 100%;
}

.card-service {
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 0;
}

@media (min-width: 700px) {
  .block-services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card-service {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-service__title,
.card-service__price {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card-service {
  border: 0.2px solid black;
}

.card-service__title {
  background-color: var(--background-card);
}

.card-service > ol {
  list-style: none;
}

.card-service__list {
  padding: 0;
}
.card-service__send {
  width: 8rem;
  height: 1.5rem;
  margin: 1rem;
  background-color: var(--color-submit);
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.footer {
  width: 100%;
  height: auto;
  background-color: var(--background-head);
}

.footer-list > ul {
  width: 100%;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.foot-link {
  padding-left: 0.9rem;
  font-weight: 500;
}

.foot-link > a {
  text-decoration: none;
  color: var(--color-nav);
}

.footer-list > span {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
